.Settings {
  width: 600px;
  max-width: 600px;
  border: 1px solid #d4d4d4;
}
.Settings .backBtn {
  padding: 10px;
  border-bottom: 1px solid #d4d4d4;
}
.Settings .backBtn h3 {
  margin: 0px;
}
.settingNav {
  padding: 10px;
  padding-bottom: 0px;
  border-bottom: 1px solid #d4d4d4;
}
