.commentbox {
  margin: 0 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.commentbox .avatarinput {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.commentbox .avatarinput input {
  border: none;
  padding: 0.5rem 0;
  outline: none;
  margin-left: 1rem;
  width: calc(100% - 50px - 1rem);
}

.commentbox button {
  margin-left: 1rem;
  border: none;
  background-color: var(--purpleblue);
  color: var(--offwhite);
  padding: 5px 15px;
  border-radius: 1rem;
  font-weight: 500;
}
