.container {
  border-bottom: 1px solid #eaeaea;
  padding: 20px 15px 5px;
  display: flex;
  cursor: pointer;
  transition: 0.1s background-color ease;
}

.container:hover {
  background-color: #fafafa;
}

.avatarcontainer {
  margin-right: 10px;
}

.avatarcontainer .avatar {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
}

.content {
  width: 100%;
}

.content .text {
  margin-bottom: 5px;
  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  word-wrap: break-word;
  white-space:break-spaces;
}

.content .image {
  max-height: 400px;
  object-fit: cover;
  width: 100%;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
}
