.container {
  border-bottom: 1px solid #d4d4d4;
  padding: 20px 10px;
  display: flex;
}

.avatarcontainer {
  margin-right: 10px;
}

.avatarcontainer .avatar {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
}

.content {
  width: 100%;
}

.content .text {
  margin-bottom: 5px;
}

.content .image {
  max-height: 400px;
  object-fit: cover;
  width: 100%;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
}
