::selection {
  background-color: #c9ceff;
}
/* Scroll-Bar */
::-webkit-scrollbar {
  width: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #dbdeff;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7076fe;
}
body {
  scroll-behavior: smooth;
}
