.actioncontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 0;
  color: #536471;
  position: relative;
  margin-left: -10px;
  max-width: 80%;
  user-select: none;
}

.actioncontainer > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.actioncontainer > div p {
  margin: 0;
  margin-left: .3rem;
}

.actioncontainer > div div {
  box-sizing: unset;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 50%;
  padding: 8px;
  transition: 0.2s all ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
