.checkbox-wrapper-22 {
  margin: auto 20px;
}
.checkbox-wrapper-22 .switch {
  display: inline-block;
  height: 28px;
  position: relative;
  width: 49px;
}

.checkbox-wrapper-22 .switch input {
  display: none;
}

.checkbox-wrapper-22 .slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.checkbox-wrapper-22 .slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 20px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 20px;
}

.checkbox-wrapper-22 input:checked + .slider {
  background-color: #7076fe;
}

.checkbox-wrapper-22 input:checked + .slider:before {
  transform: translateX(20px);
}

.checkbox-wrapper-22 .slider.round {
  border-radius: 34px;
}

.checkbox-wrapper-22 .slider.round:before {
  border-radius: 50%;
}
