.WhoToFollow {
  height: fit-content;
  margin: 20px;
  border-radius: 15px;
  border: 1px solid #eaeaea;
  padding-bottom: 10px;
}
.WhoToFollow .header {
  font-size: 20px;
  font-weight: bolder;
  padding: 10px 20px;
}
.user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}
.userNameAndAvatar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.user .verification {
  width: 20px;
  height: 20px;
  margin: 0px 3px;
}
.user h1 {
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  font-weight: bold;
}
.user p {
  margin: 0px;
  font-size: 12px;
  width: 100%;
}
.user button {
  margin: 0px;
  padding: 5px 15px;
  font-size: 13px;
}
.userNameAndAvatar div {
  margin: 10px 20px;
}
.user:hover {
  background-color: #ededed;
  cursor: pointer;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer p {
  margin: 0px 5px;
}
.footer p:hover {
  text-decoration: underline;
  cursor: pointer;
}
.Record {
  margin-top: 0px;
  font-size: 13px;
  position: fixed;
  text-align: center;
  width: 350px;
}
.Record a {
  text-decoration: none;
  color: black;
}
.Record span {
  color: #7076fe;
  font-weight: bold;
}
.noSuggestion {
  text-align: center;
  width: 340px;
}
