.following .users {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
.users .avatar {
  border-radius: 50%;
  width: 60px;
}
.users h1 {
  font-size: 20px;
  font-weight: 500;
  margin: 0px;
}
.users p {
  margin: 0px;
}
.following .users:hover {
  background-color: #dbdeff;
}
.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0px 20px;
}
.verified {
  width: 25px;
  margin: 0px 5px;
}
