.profileDetailsBioAndAddress {
  padding: 0px 25px;
  border-bottom: 1px solid #d4d4d4;
}
.profileDetailsBioAndAddress .bio p {
  font-size: 20px;
}
.profileDetailsBioAndAddress .follow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}
.profileDetailsBioAndAddress .follow span p {
  display: inline;
  font-weight: bolder;
}

.profileDetailsBioAndAddress .date {
  padding: 20px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 55%;
}
.followAndFollowing:hover {
  cursor: pointer;
}
