.chats {
  width: 600px;
  max-width: 600px;
  border: 1px solid #d4d4d4;
  height: 100vh;
}
.chats form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid #d4d4d4;
  width: 600px;
  position: absolute;
  bottom: 0;
}
.chats form input {
  padding: 0 20px;
  height: 43px;
  border-radius: 50px;
  border: 2px solid #00000066;
  font-size: 1rem;
  width: 94%;
  margin: 10px;
}
.chats form input:focus {
  outline: none;
  border: 2px solid var(--purpleblue);
  filter: drop-shadow(0px 4px 4px #7076fe55);
}
.chats form button {
  margin: 0px 5px;
}
.headerDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d4d4d4;
  cursor: pointer;
}
.reciversDetails {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.reciversDetails img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  object-fit: cover;
}
.reciversDetails h5,
.reciversDetails p {
  margin: 0px;
  margin-left: 10px;
}
.chats .verified {
  width: 25px;
  height: unset;
  box-shadow: none;
  margin: 0px 5px;
}
.more .isOnline {
  margin: 0px;
  padding: 0px;
  font-size: 10px;
}
.more .isOnline span {
  color: white;
  background-color: #74d17e;
  font-size: 15px;
  padding: 3px 8px;
  border-radius: 50px;
  /* margin: 0px 30px; */
}
.more {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.more button {
  margin: 0px;
  padding: 7px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  transform: rotate(90deg);
  transition: 0.3s;
}
.more button:hover {
  background-color: #dbdeff;
}

/* Drop Down */

.dropdown {
  margin: 0px 10px;
  border-radius: 50%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  z-index: 1;
}

.dropdown-content p {
  margin: 0px;
  padding: 10px 15px;
  display: block;
  font-weight: 500;
  border-radius: 10px;
  transition: 0.3s;
}

.dropdown-content p:hover {
  background-color: #f3f3f3;
}

.dropdown:hover .dropdown-content {
  display: block;
}
