.notification {
  width: 600px;
  max-width: 600px;
  border: 1px solid #d4d4d4;
  min-height: 100vh;
}
.notification .heading {
  padding: 10px;
  border-bottom: 1px solid #d4d4d4;
}
.notification .heading h3 {
  margin: 0px;
}
.notificationContent,
.notificationClick {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.notificationContent {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #d4d4d4;
}
.notificationContent img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}
.notificationContent p {
  margin: 0px 10px;
}
.notificationContent p b {
  font-size: 18px;
}
