.textcontent {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  word-wrap: break-word;
  white-space:break-spaces;
}

.media {
  width: 100%;
  max-width: 100%;
  border-radius: 1rem;
  margin-bottom: 1rem;
  object-fit: cover;
  border: 1px solid #eaeaea;
}

.timestamp {
  opacity: 0.8;
}