.Search {
  width: 600px;
  max-width: 600px;
  border: 1px solid #d4d4d4;
  min-height: 100vh;
}
.Search form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #d4d4d4;
}
.Search input {
  padding: 0 20px;
  height: 43px;
  border-radius: 50px;
  border: 2px solid #00000066;
  font-size: 1rem;
  width: 94%;
  margin: 10px;
}
.Search input:focus {
  outline: none;
  border: 2px solid var(--purpleblue);
  filter: drop-shadow(0px 4px 4px #7076fe55);
}
.searchUsers {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* border-top: 1px solid #d4d4d4; */
  border-bottom: 1px solid #d4d4d4;
  background-color: white;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}
.searchUsers:hover {
  background-color: #dbdeff;
}
.searchUsers img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  object-fit: cover;
  margin: 10px;
}
.searchUsers h6 {
  margin: 0px;
  font-weight: bold;
}
.searchUsers .verified {
  width: 25px;
  height: 25px;
  box-shadow: none;
  margin: 0 5px;
}
.searchBtn {
  margin: 0px 5px;
  padding: 5px auto;
}
.noUserFound {
  text-align: center;
  border-top: 1px solid #d4d4d4;
  padding: 15px;
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.spinner {
  width: 56px;
  height: 56px;
  margin: 10px auto;
  border-radius: 50%;
  border: 9px solid;
  border-color: #dbdeff;
  border-right-color: #7076fe;
  animation: spinner-d3wgkg 0.8s infinite linear;
}
.noConversation {
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
}
.noConversation img {
  width: 50%;
}

.noConversation div {
  text-align: center;
  margin: 50px 0;
}

.noConversation div p {
  opacity: 0.7;
}
.nameAndLastMessage {
  width: 70%;
  overflow: hidden;
}
.nameAndLastMessage p {
  margin: 0px;
}
.nameAndLastMessage .mess {
  opacity: 0.8;
}

.isOnline {
  color: white;
  background-color: #74d17e;
  font-size: 13px;
  padding: 3px 13px;
  border-radius: 50px;
  margin: 0px 50px;
}

.currentStatus {
  color: #7076fe;
  font-weight: bold;
}

@keyframes spinner-d3wgkg {
  to {
    transform: rotate(1turn);
  }
}
