.fileUpload {
  outline: 1px solid gray;
  border-radius: 50px;
  margin: 20px 0px;
}
::-webkit-file-upload-button,
.uploadBtn {
  background-color: #7076fe;
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 50px;
}
.uploadBtn {
  margin-left: 20px;
}
::-webkit-file-upload-button:hover,
.uploadBtn:hover {
  background-color: #7c83fc;
}
.uploadedImage {
  width: 200px !important;
  border-radius: 0px !important;
}
