.Report {
  border: 1px solid black;
  margin: 10px 20px;
  margin-top: 250px;
  padding: 10px;
  background-color: black;
  color: white;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
}
.header h1 {
  font-size: 25px;
}
.header button {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  font-weight: bold;
}
.Report pre {
  height: 50vh;
  overflow-y: scroll;
  overflow-x: hidden;
  white-space: pre-line;
  word-wrap: break-word;
}

.Report ::selection {
  color: black;
  background: white;
}

/* width */
.Report pre::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.Report pre::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
.Report pre::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 0px;
}

.tablecontainer {
  margin: 10px 20px;
  margin-top: 250px;
}

table {
  border: 2px solid var(--purpleblue);
  border-radius: 10px;
  overflow-x: hidden;
}

table th,
table td {
  border: 1px solid black;
  padding: 4px;
  max-height: 50px;
  overflow: hidden;
}

.closeTable {
  padding: 3px 15px;
  margin-bottom: 30px;
  border-radius: 20px;
  background-color: #7076fe;
  color: white;
  border: none;
}

.closeTable:hover {
  background-color: #5059ff;
}
