.profile {
  display: flex;
  align-items: center;
}

.profile p {
  margin: 0;
}

.profile .username {
  font-weight: 700;
  font-size: 1.1rem;
}

.profile .verified {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.profile .author_id {
  opacity: 0.8;
  margin: 0 5px;
  font-size: 0.92 rem;
}

.profile .time {
  opacity: 0.8;
  margin-left: 5px;
  font-size: 0.92rem;
}
