.defaultBtn {
  margin: 20px 0px;
  padding: 10px 35px;
  border-radius: 50px;
  font-weight: bold;
  border: none;
  background-color: #7076fe;
  color: white;
}
.defaultBtn:hover {
  background-color: #565fff;
}
.defaultBtn:disabled {
  background-color: #d4d4d4;
  cursor: not-allowed;
}
