.NewsPage {
  width: 600px;
  max-width: 600px;
  border: 1px solid #eaeaea;
}
.searchBox {
  border-bottom: 1px solid #d4d4d4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.searchInput {
  padding: 0 20px;
  height: 45px;
  border-radius: 50px;
  border: 2px solid #00000066;
  font-size: 1rem;
  width: 60%;
}
.searchInput:focus {
  outline: none;
  border: 2px solid var(--purpleblue);
  filter: drop-shadow(0px 4px 4px #7076fe55);
}
.searchBtn {
  margin: 0px 20px !important;
}
.backButton {
  border-bottom: 1px solid #d4d4d4;
}
.backButton img {
  width: 40px;
  height: 40px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.2s all;
}

.backButton img:hover {
  background-color: #dbdeff;
}
