.searchResult {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  cursor: pointer;
  border-bottom: 1px solid #d4d4d4;
}
.searchResult img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;

  object-fit: cover;
}
.searchResult .nameAvatar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.searchResult .nameAvatar .nameAndUserName {
  margin: 0 25px;
}
.searchResult .nameAvatar .nameAndUserName h3 img {
  width: 27px;
  height: 27px;
  box-shadow: none;
  margin: 0 10px;
}


.searchResult .nameAndUserName h3 {
  margin: 0px;
  font-size: 25px;
  display: flex;
  align-items: center;
}
.searchResult .nameAndUserName p {
  margin: 0px;
  font-size: 18px;
}
.noUserFound {
  text-align: center;
  padding: 15px;
}
.myProfile {
  background-color: #dbdeff;
  color: black;
}
.myProfile:hover {
  background-color: #c9ceff;
}
