.searchResult {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  cursor: pointer;
  border-bottom: 1px solid #d4d4d4;
}
.searchResult img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 2px solid #5b7083;
  object-fit: cover;
}
.searchResult .nameAndUserName h3 {
  margin: 0px;
  font-size: 25px;
}
.searchResult .nameAndUserName p {
  margin: 0px;
  font-size: 18px;
}
.noUserFound {
  text-align: center;
  padding: 15px;
}
.myProfile {
  background-color: #dbdeff;
  color: black;
}
.myProfile:hover {
  background-color: #c9ceff;
}
